<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>商家后台</title>
  <script>
    window.CFG = {
      token: 'sinxia-token',
      publicPath: '/public/admin/',
      // publicPath: '',
      company: {{company | safe}},
      user: {{user | safe}}
    }
  </script>
<link href="../public/admin/index.min.css" rel="stylesheet"></head>
<body>
<div id="root"></div>

<script type="text/javascript" src="../public/admin/index.min.js"></script><script type="text/javascript" src="../public/admin/api.min.js"></script></body>
</html>
